@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap-grid';

@import 'gulp_png_sprite';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}

p,
pre {
  margin: 0 0 $small-spacing;
}

a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}

.container {
  position: relative;
}

nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

.btn {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  text-transform: uppercase;

  border-radius: 0;
  box-shadow: $base-box-shadow;
  &.btn-blue-half {
    position: relative;

    width: 325px;
    height: 80px;
    padding-left: 40px;

    text-align: left;

    color: #fff;
    background: $base-gradient;
    span {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-image: url(../img/bg/btn-blue-half.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
    &:hover {
      box-shadow: $base-hover-box-shadow;
    }
  }
}

.header-nav--top {
  padding: 15px 45px;

  background: $base-gradient;
  li {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
      a {
        padding-left: 0;
      }
    }
    a {
      line-height: 21px;

      padding: 10px 5px;

      text-decoration: none;

      color: #fff;
      &:hover {
        color: #000;
      }
    }
    &.current-menu-item {
      a {
        color: #000;
      }
    }
  }
}

header {
  margin-bottom: 40px;
  padding: 12px 45px 22px;

  background-color: #fff;
  box-shadow: $base-box-shadow;
  .header--logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}

.header--logo {
  padding-right: 0;
  padding-left: 0;
}

.header-nav--main {
  padding-right: 0;
  padding-left: 0;
  .menu-item-has-children {
    display: none;
  }
  li {
    padding: 10px 10px 0;
    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 24px;

      padding: 10px;

      color: #37474f;
    }
    &:first-child {
      padding-left: 0;
      a {
        padding-left: 0;
      }
    }
    &.has-child {
      a {
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          right: -20px;

          display: block;

          width: 6px;
          height: 6px;
          margin-top: -3px;

          content: '';

          background-image: url(../img/header-nav--main-child.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.header--phone {
  font-size: 14px;

  display: flex;
  flex-direction: column;

  padding: 0;

  background-image: url(../img/ico/ico-phone.png);
  background-repeat: no-repeat;
  background-position: 35px center;

  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  a {
    color: #37474f;
  }
   > a {
    display: flex;
    flex-direction: column;

    width: calc(100% - 50px);
    height: 50%;
    padding-left: 40px;

    text-transform: uppercase;

    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header--lang {
    display: flex;
    flex-direction: column;

    width: 50px;
    height: 100%;

    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: none;
      &.active {
        position: relative;

        display: block;
        &:after {
          position: absolute;
          top: 50%;
          right: -15px;

          display: block;

          width: 6px;
          height: 6px;
          margin-top: -3px;

          content: '';

          background-image: url(../img/header-nav--main-child.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.home-slider {
  position: relative;

  margin-bottom: 115px;
  padding-right: 0;
  padding-left: 0;

  box-shadow: $base-box-shadow;
  img {
    width: 100%;
  }

  .slides {
    position: relative;
    &:before {
      position: absolute;
      z-index: 4;
      top: 0;
      bottom: 0;
      left: 0;

      display: block;

      width: 55%;

      content: '';

      background-image: url(../img/home-slider-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .home-slider--content {
    position: absolute;
    z-index: 6;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    padding-left: 115px;

    color: #fff;

    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-slider--pretitle {
    font-size: 14px;

    display: block;

    padding-left: 2px;

    text-align: left;
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
  .home-slider--title {
    font-size: 48px;
    font-weight: bold;

    margin-bottom: 0;
    span {
      display: block;
    }
  }
  p {
    font-size: 18px;
    line-height: 24px;

    position: relative;

    padding: 10px 0 10px 20px;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 4px;

      display: block;

      width: 1px;

      content: '';

      background-color: #fff;
    }
  }
  .home-slider--navi {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -20px;

    display: flex;
    flex-direction: row;

    width: 325px;
    height: 80px;
    padding: 0 20px;

    background: $base-gradient;

    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      background-repeat: no-repeat;
    }
    &:before {
      top: 50%;
      right: 115px;
      left: 115px;

      height: 1px;

      background-color: #fff;
      background-position: center;
    }
    &:after {
      background-image: url(../img/bg/hsn-next.png);
      background-position: right center;
    }
    .hsn-current {
      font-size: 36px;
      font-weight: bold;
      line-height: 24px;

      color: #fff;
    }
    .hsn-next {
      font-size: 18px;
      line-height: 24px;

      position: relative;
      z-index: 6;

      color: #11998e;
    }
  }
}

.home-services {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 50px;
  &:before {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 150px;
    left: 0;

    display: block;

    content: '';

    background: $base-gradient;
  }
  .home-services--heading {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 80px;
    padding-left: 110px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .home-services--item {
    font-size: 21px;
    font-weight: bold;

    position: relative;

    display: flex;
    flex-direction: row;

    max-width: calc(33.33333% - 20px);
    height: 260px;
    margin: 0 10px 50px;
    padding: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    box-shadow: $base-box-shadow;

    align-content: center;
    align-items: center;
    flex: 0 0 calc(33.33333% - 20px);
    flex-wrap: wrap;
    justify-content: center;
    &:before {
      position: absolute;
      left: 50%;

      display: none;

      width: 80px;
      height: 20px;
      margin-left: -40px;

      content: '';

      background-color: #fff;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      &:before {
        display: block;
      }
    }
    &:nth-child(2),
    &:nth-child(4) {
      &:before {
        bottom: -20px;

        display: block;
      }
    }
    &:nth-child(6) {
      &:before {
        top: -20px;

        display: block;
      }
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &:first-child {
        z-index: 5;

        display: block;

        transition: all 1s;

        opacity: 0;
        background: $base-gradient;
      }
      &:last-child {
        z-index: 6;
        &:before,
        &:after {
          position: absolute;
          z-index: 6;

          display: block;

          content: '';

          opacity: 1;
        }
        &:before {
          top: 20px;
          left: 20px;

          width: 70px;
          height: 70px;

          border-top: 2px solid #fff;
          border-left: 2px solid #fff;
        }
        &:after {
          top: calc(100% - 90px);
          right: 20px;
          bottom: 20px;
          left: calc(100% - 90px);

          transition: all 1s;

          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }
      }
    }
    &:hover {
      span {
        &:first-child {
          opacity: .4;
        }
        &:last-child {
          &:after {
            top: 90px;
            left: 90px;
          }
        }
      }
    }
  }
}

.home-content {
  margin-bottom: 100px;
  .home-content--pretitle {
    font-size: 14px;

    margin-bottom: 25px;

    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #000;
  }
  .home-content--title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 35px;

    color: #37474f;
    span {
      display: block;
    }
  }
  .home-content--item {
    position: relative;
    z-index: 1;

    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 20px;
    p {
      font-size: 14px;
      line-height: 21px;

      color: #000;
    }
     > * {
      &:nth-child(3) {
        position: relative;
        &:before {
          position: absolute;
          top: 5px;
          left: -20px;

          display: block;

          width: 2px;
          height: 70px;

          content: '';

          background: $base-gradient;
        }
      }
    }
    &:before,
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      background: $base-gradient;
    }
    &:before {
      width: 2px;
      height: 70px;
    }
    &:after {
      width: 70px;
      height: 2px;
    }
  }
  .home-content--img {
    position: relative;
    img {
      position: relative;
      z-index: 1;

      width: 100%;
    }
    &:before {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 15px;
      bottom: 0;
      left: -340px;

      display: block;

      content: '';

      background-color: #eee;
    }
  }
}

.home-actions {
  position: relative;

  padding-top: 60px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 676px;
    height: 402px;

    content: '';

    background-color: #eee;
  }
  .home-actions--heading {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 60px;
    padding-left: 120px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .home-actions--item {
    font-size: 21px;
    font-weight: bold;

    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: row;

    max-width: calc(33.33333% - 20px);
    height: 360px;
    margin: 0 10px 50px;
    padding: 0;

    text-decoration: none;

    color: #fff;
    background-position: center;
    box-shadow: $base-box-shadow;

    align-content: center;
    align-items: center;
    flex: 0 0 calc(33.33333% - 20px);
    flex-wrap: wrap;
    justify-content: center;
    &:before,
    &:after {
      position: absolute;
      z-index: 11;

      display: block;

      content: '';
    }
    &:before {
      top: 20px;
      left: 20px;

      width: 70px;
      height: 70px;

      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
    }
    &:after {
      top: calc(100% - 70px);
      right: 0;
      bottom: 0;
      left: calc(100% - 70px);

      border-right: 2px solid rgba(79, 172, 254, 1);
      border-bottom: 2px solid rgba(79, 172, 254, 1);
    }
    span {
      position: absolute;
      right: 0;
      left: 0;

      display: block;

      color: #37474f;
      background-color: #fff;
      &.hai--date {
        font-size: 14px !important;

        top: 250px;

        padding: 10px 40px;

        text-transform: uppercase;
      }
      &.hai--title {
        font-size: 18px;

        bottom: 0;

        padding: 10px 40px 30px;
      }
      &.hai--content {
        font-size: 14px;
        line-height: 21px;

        top: 120%;
      }
    }
    &:hover {
      &:after {
        top: calc(100% - 90px);
        right: 20px;
        bottom: 20px;
        left: calc(100% - 90px); // transition: all 1s;

        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
      span {
        position: relative;
        z-index: 10;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        display: flex;
        flex-direction: row;

        width: 100%;
        padding: 0 40px;

        color: #fff;
        background-color: transparent;

        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: flex-start;
        &:before {
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          display: block;

          content: '';

          opacity: .4;
          background: $base-gradient;
        }
        &.hai--date {
          display: flex;
          flex-direction: column;

          height: 40%;

          align-content: stretch;
          align-items: flex-start;
          flex-wrap: nowrap;
          justify-content: flex-end;
        }
        &.hai--title {
          display: flex;
          flex-direction: column;

          height: 20%;

          align-content: stretch;
          align-items: flex-start;
          flex-wrap: nowrap;
          justify-content: center;
        }
        &.hai--content {
          display: flex;
          flex-direction: column;

          height: 40%;

          align-content: stretch;
          align-items: flex-start;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
      }
    }
  }
}

.home-gift {
  margin-bottom: 116px;

  background-image: url(../img/home-gift.jpg);
  background-repeat: no-repeat;
  background-position: 140% center;
  background-size: contain;
  .home-gift--content {
    position: relative;

    padding: 80px 115px 50px;

    box-shadow: $base-box-shadow;
  }
  .home-gift--title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 50px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  p {
    font-size: 14px;
    line-height: 21px;

    margin-bottom: 30px;

    color: #37474f;
  }
  .home-gift--order {
    position: absolute;
    bottom: -65px;
    left: 115px;
  }
}

.home-girls {
  position: relative;
  z-index: 2;

  margin-bottom: 160px;
  .home-girls--content {
    position: relative;
    z-index: 2;

    padding-top: 90px;
    padding-bottom: 90px;
  }
  &:after {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 60%;

    content: '';

    background-color: #eee;
  }
  &:before {
    position: absolute;
    z-index: 0;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 60%;

    content: '';

    background-image: url(../img/home-girls.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
  .home-girls--title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 60px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .home-girls--content {
    position: relative;
    p {
      font-size: 14px;
      line-height: 21px;

      margin-bottom: 20px;
      padding-left: 20px;

      color: #37474f;
      &:nth-child(2) {
        position: relative;
        &:before {
          position: absolute;
          top: 5px;
          left: 0;

          display: block;

          width: 2px;
          height: 70px;

          content: '';

          background: $base-gradient;
        }
      }
    }
  }
  .home-girls--order {
    position: absolute;
    bottom: -60px;
  }
}

.home-video--item {
  position: relative;

  height: auto;
  margin-bottom: 100px;
  padding-right: 0;
  padding-left: 0;

  text-align: center;

  box-shadow: $base-box-shadow;
  iframe {
    width: 100%;
    height: 530px;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    overflow: hidden;

    content: '';
    cursor: pointer;
    transition: $base-transition;
  }
  &:before {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url(../img/home-video--item.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &:after {
    z-index: 2;

    opacity: .6;
    background: $base-gradient;
  }
  &:hover {
    &:before,
    &:after {
      display: none;
    }
  }
}

.home-reviews {
  margin-bottom: 90px;
  .home-reviews--heading {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 50px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .home-reviews--item {
    display: flex;
    flex-direction: row;

    width: 98%;
    margin: 0 10px;
    padding: 0;

    background-color: #fff;

    align-content: stretch;
    flex: 0 0 calc(41.66667% - 20px);
    flex-wrap: nowrap;
    justify-content: flex-start;
    img {
      width: 210px;
    }
    .home-reviews--cont {
      position: relative;

      width: calc(100%-210px);
      padding: 60px 35px 0;
      &:after {
        position: absolute;
        right: 30px;
        bottom: 30px;

        width: 70px;
        height: 70px;

        border-right: 2px solid #00f2fe;
        border-bottom: 2px solid #00f2fe;

        @extend .dblock;
      }
    }
    .home-reviews--name {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 18px;

      color: #37474f;
    }
    .home-reviews--title {
      font-size: 14px;

      display: block;

      margin-bottom: 30px;

      letter-spacing: 2.1px;
      text-transform: uppercase;

      color: #000;
    }
    p {
      font-size: 14px;
      line-height: 21px;

      margin-bottom: 0;

      color: #000;
    }
  }
  .home-reviews--nav {
    cursor: pointer;

    background-repeat: no-repeat;
    &.home-reviews--nav-prev {
      padding-left: 0;

      background-image: url(../img/home-reviews--nav-prev.png);
      background-position: left bottom;
    }
    &.home-reviews--nav-next {
      padding-right: 0;

      background-image: url(../img/home-reviews--nav-next.png);
      background-position: right bottom;
    }
    &:hover {
      opacity: .7;
    }
  }
}

.home-contacts {
  margin-bottom: 150px;
  .home-contacts--title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 50px;
    padding-left: 130px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .home-contacts--map {
    font-weight: normal;

    padding-right: 0;
  }
  .home-contacts--adress {
    position: relative;

    padding: 80px 110px;

    background-color: #fff;
    h6 {
      font-size: 14px;

      margin-bottom: 25px;

      letter-spacing: 2.1px;
      text-transform: uppercase;
    }
    p,
    a {
      font-size: 14px;
      line-height: 21px;

      color: #000;
      &:nth-child(2),
      &:nth-child(4) {
        margin-bottom: 50px;
      }
      &:nth-child(9) {
        margin-bottom: 0;
      }
    }
    a {
      display: block;

      text-decoration: none;
    }
    .home-contacts--order {
      position: absolute;
      right: 0;
      bottom: -60px;
    }
  }
}

.article-heading {
  position: relative;

  height: 300px;
  margin-bottom: 60px;
  padding-top: 100px;

  color: #fff;
  background-image: url(../img/article-heading.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: $base-box-shadow;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 60%;

    content: '';

    background-image: url(../img/home-slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .breadcrumbs {
    font-size: 14px;
    font-weight: normal;

    margin-bottom: 20px;
    padding-left: 115px;

    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #fff;
    li {
      display: inline-block;

      margin: 0 5px;
      a {
        font-weight: bold;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  a {
    color: #fff;
  }
  .article-title {
    font-size: 48px;
    font-weight: bold;

    position: relative;

    padding-left: 115px;
    &:before {
      position: absolute;
      top: -50px;
      bottom: -15px;
      left: 100px;

      width: 1px;

      background-color: #fff;

      @extend .dblock;
    }
  }
  .heading-cat,
  .heading-date {
    font-size: 18px;

    position: absolute;
    bottom: 35px;
  }
  .heading-cat {
    left: 115px;
    &:after {
      position: absolute;
      top: 50%;
      right: -90px;

      width: 70px;
      height: 1px;

      background-color: #fff;

      @extend .dblock;
    }
  }
  .heading-date {
    right: 115px;
  }
}

.article-single {
  article {
     > h2,
     > h3 {
      font-weight: bold;

      margin-bottom: 40px;

      color: #37474f;
    }
     > h2 {
      font-size: 36px;
    }
     > h2 {
      font-size: 24px;
    }
  }
  .article--content {
    margin-bottom: 30px;

    column-count: 2;
    column-gap: 20px;
     > * {
      margin-bottom: 30px;
    }
  }
  blockquote {
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 30px;
    padding: 45px 40px;

    color: #37474f;
    background-color: #fff;
    box-shadow: $base-box-shadow;
  }
  .article--content--img {
    width: 100%;
    margin-bottom: 30px;

    box-shadow: $base-box-shadow;
  }
  .btn-share {
    margin: 0 auto 30px;
  }
}

section {
  padding: 0 0 $footer;
}

article {
  @extend .clearfix;
}

.looper {
  overflow: hidden;

  max-width: calc(25% - 20px);
  height: 410px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding-top: 260px;
  padding-right: 0;
  padding-left: 0;

  background-image: url(images/);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  box-shadow: $base-box-shadow;

  @extend .clearfix;
  flex: 0 0 calc(25% - 20px);
  &:hover {
    box-shadow: $base-hover-box-shadow;
  }
  .looper--date,
  .looper--title {
    position: relative;
    z-index: 1;

    display: block;

    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;

    color: #37474f;
    background-color: #fff;
  }
  .looper--date {
    font-size: 14px;

    text-transform: uppercase;
  }
  .looper--title {
    font-size: 18px;

    height: 410px;
  }
}

.recommend-block {
  .recommend-block--heading {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 40px;
    padding-left: 110px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .recommend-block--nav,
  .recommend-block--item {
    height: 410px;
  }
  .recommend-block--nav {
    display: block;

    margin-right: -15px;
    margin-left: -15px;

    cursor: pointer;

    background-repeat: no-repeat;
    &:hover {
      opacity: .7;
    }
  }
  .recommend-block--prev {
    background-image: url(../img/home-reviews--nav-prev.png);
    background-position: left bottom;
  }
  .recommend-block--next {
    padding-right: 0;

    background-image: url(../img/home-reviews--nav-next.png);
    background-position: right bottom;
  }
  .recommend-block--item {
    @extend .looper;
  }
  .recommend--date {
    @extend .looper--date;
  }
  .recommend--title {
    @extend .looper--title;
  }
}

.pagination {
  margin-bottom: 30px;

  text-align: center;
  span,
  a {
    display: inline-block;

    margin: 0 10px;
    padding: 15px;

    color: #37474f;
    background-color: #fff;
    box-shadow: $base-box-shadow;
    &:hover {
      background: $base-gradient;
      box-shadow: $base-hover-box-shadow;
    }
    &.next {
      float: right;
    }
    &.prev {
      float: left;
    }
    &.current {
      font-weight: bold;

      color: #fff;
      background: $base-gradient;
      box-shadow: $base-hover-box-shadow;
    }
    &.dots {
      &:hover {
        box-shadow: $base-box-shadow;
      }
    }
  }
}

.category-heading {
  color: #37474f;
  .breadcrumbs {
    font-size: 14px;
    font-weight: normal;

    margin-bottom: 20px;
    padding-left: 115px;

    letter-spacing: 2.1px;
    text-transform: uppercase;
    li {
      display: inline-block;

      margin: 0 5px;
      a {
        font-weight: bold;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  a {
    color: #37474f;
  }
  .category--title {
    font-size: 48px;
    font-weight: bold;

    position: relative;
    position: relative;

    margin-bottom: 60px;
    padding-left: 115px;
    &:before {
      position: absolute;
      top: -50px;
      bottom: -15px;
      left: 100px;

      width: 1px;

      background: $base-gradient;

      @extend .dblock;
    }
  }
}

.category-image {
  position: relative;

  height: 450px;
  margin-bottom: 60px;
  padding-top: 160px;
  padding-left: 45px;

  color: #fff;
  background-image: url(../img/article-heading.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: $base-box-shadow;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 75%;

    content: '';

    background-image: url(../img/home-slider-bg-revert.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    color: #fff;
  }
  .category-image--title {
    font-size: 36px;
    font-weight: bold;

    position: relative;

    width: 50%;
  }
  .category-image--heading {
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
  .category-image--heading,
  .category-image--descr {
    line-height: 21px;

    position: relative;

    width: 50%;

    color: #fff;
  }
}

.girlsparty-page {
  article {
    position: relative;

    margin-bottom: 130px;
    padding: 55px 115px;

    background-color: #fff;
    box-shadow: $base-box-shadow;
    .article--content {
      line-height: 21px;

      margin-bottom: 0;

      color: #000;

      column-count: 1;
      column-gap: 0;
      p {
        margin-bottom: 26px;
        &:nth-child(1) {
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;

            width: 1px;

            background: $base-gradient;

            @extend .dblock;
          }
        }
      }
    }
    &:before,
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;

      background: $base-gradient;

      @extend .dblock;
    }
    &:before {
      width: 70px;
      height: 2px;
    }
    &:after {
      width: 2px;
      height: 70px;
    }
  }
  .btn-gp-order {
    position: absolute;
    bottom: -60px;
    left: 115px;
  }
  .gpp-second-headline {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 35px;

    color: #37474f;
  }
  .packages--item {
    margin-bottom: 100px;

    background-color: #fff;
    box-shadow: $base-box-shadow;
  }
  .packages--item-img {
    overflow: hidden;

    padding: 0;

    text-align: center;
    img {
      min-width: 100%;
      min-height: 100%;
      margin-bottom: 0;
    }
  }
  .packages--item-cont {
    padding: 70px 140px;
    .pic--title {
      font-size: 36px;
      font-weight: bold;

      color: #37474f;
      span {
        position: relative;

        display: inline-block;

        width: 80px;
        height: 100%;
        margin-left: 16px;
        &:before {
          position: absolute;
          right: 0;
          bottom: 8px;
          left: 0;

          display: block;

          height: 2px;

          content: '';

          background: $base-gradient;
        }
      }
    }
    .pic--descr {
      font-size: 14px;
      line-height: 21px;

      letter-spacing: 2.1px;
      p {
        &:nth-child(1) {
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;

            width: 1px;

            background: $base-gradient;

            @extend .dblock;
          }
        }
      }
    }
    .pic--time,
    .pic--price {
      font-size: 18px;
      font-weight: bold;

      display: inline-block;

      width: 40%;
      height: 70px;
      padding-top: 20px;

      color: #37474f;
      span {
        font-size: 12px;
        font-weight: normal;

        display: block;

        padding-top: 10px;

        text-transform: uppercase;
      }
    }
    .pic--time {
      border-right: 1px solid $gray-medium;
    }
    .pic--price {
      padding-left: 50px;
    }
  }
  .adc--title {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 36px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 6px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .additional-content {
    font-size: 14px;
    line-height: 21px;

    color: #37474f;
  }
}

.certificate-page {
  .cp-second {
    position: relative;

    margin-bottom: 160px;
    padding: 60px 115px;

    background-color: #fff;
    box-shadow: $base-box-shadow;
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 70px;
      height: 70px;

      border-right: 2px solid #00f2fe;
      border-bottom: 2px solid #00f2fe;

      @extend .dblock;
    }
    p {
      font-size: 14px;
      line-height: 21px;

      margin-bottom: 60px;
      padding-left: 10px;

      color: #000;
      &:nth-child(2) {
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -10px;

          width: 1px;

          background: $base-gradient;

          @extend .dblock;
        }
      }
    }
    .btn-cp-order {
      position: absolute;
      bottom: -60px;
      left: 115px;
    }
  }
  .article--content {
    margin-bottom: 0;

    column-count: 1;
    column-gap: 0;
    .cp-second-headline {
      font-size: 36px;
      font-weight: bold;

      color: #37474f;
    }
    .cp-price {
      font-size: 18px;
      font-weight: bold;

      display: block;

      color: #37474f;
      span {
        font-size: 12px;
        font-weight: normal;

        display: block;

        padding-top: 18px;

        text-transform: uppercase;

        color: #37474f;
      }
    }
  }
  .cp-content {
    margin-bottom: 90px;
    padding: 60px 60px 60px 115px;

    background-color: #fff;
    .cpc--title {
      font-size: 36px;
      font-weight: bold;

      margin-bottom: 40px;

      color: #37474f;
      span {
        position: relative;

        display: inline-block;

        width: 80px;
        height: 100%;
        margin-left: 16px;
        &:before {
          position: absolute;
          right: 0;
          bottom: 8px;
          left: 0;

          display: block;

          height: 2px;

          content: '';

          background: $base-gradient;
        }
      }
    }
    p {
      font-size: 14px;
      line-height: 21px;

      margin-bottom: 20px;

      color: #000;
      &:nth-child(1) {
        position: relative;

        padding-left: 10px;
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -10px;

          width: 1px;

          background: $base-gradient;

          @extend .dblock;
        }
      }
    }
    h5 {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 30px;

      color: #37474f;
    }
  }
  .cp-content--image {
    margin-bottom: 90px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;

    background-color: #fff;
    img {
      overflow: hidden;

      min-width: 100%;
      min-height: 100%;
    }
  }
  .cpac--image {
    margin-bottom: 90px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cpac-cont {
    position: relative;
    z-index: 2;

    margin-bottom: 90px;
    padding-top: 90px;

    background-color: #fff;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 70%;
      bottom: 0;
      left: 0;

      background-color: #eee;

      @extend .dblock;
    }
    .cpac--title {
      font-size: 36px;
      font-weight: bold;

      margin-bottom: 40px;
      padding-left: 115px;

      color: #37474f;
      span {
        position: relative;

        display: inline-block;

        width: 80px;
        height: 100%;
        margin-left: 16px;
        &:before {
          position: absolute;
          right: 0;
          bottom: 8px;
          left: 0;

          display: block;

          height: 2px;

          content: '';

          background: $base-gradient;
        }
      }
    }
    .cpac-content {
      margin-bottom: 90px;
      padding: 0 60px 60px 115px;
    }
  }
}
.single-masagepage {
  .article--content {
    .cp-price,
    .cp-duration {
      display: inline-block;

      width: 200px;
    }
  }
}


.cp-order {
  margin-bottom: 160px;
  form {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 60px 40px 80px;

    text-align: left;

    background-color: #fff;
    box-shadow: $base-box-shadow;
    .btn-submit {
      position: absolute;
      bottom: -60px;
      left: 50%;

      width: 50%;
      margin-left: -25%;
    }
    label {
      font-size: 10px;
      font-weight: 200;
      line-height: 21px;

      display: block;

      margin-bottom: 2px;

      color: #bdbdbd;
    }
    input[type='text'] {
      width: 100%;
      margin-bottom: 30px;
      padding: 10px 0;

      border: 0;
      border-bottom: 1px solid #eee;
      outline: none;
      background-color: transparent;
      box-shadow: none;
      &:hover,
      &:focus {
        border-bottom: 1px solid rgba(0, 242, 254, 1);
        outline: none;
        box-shadow: none;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 16px;

      color: #37474f;
    }
    p {
      font-size: 14px;
      line-height: 21px;

      margin-bottom: 16px;

      color: #000;
    }
    &:after {
      position: absolute;
      top: 16px;
      right: 16px;

      width: 70px;
      height: 70px;

      border-top: 2px solid #00f2fe;
      border-right: 2px solid #00f2fe;

      @extend .dblock;
    }
  }
}

.courses-page--article {
  position: relative;

  margin-bottom: 115px;
  padding-top: 30px;
  padding-bottom: 30px;
  &:before,
  &:after {
    position: absolute;
    bottom: 30px;
    left: 0;

    display: block;

    content: '';

    background: $base-gradient;
  }
  &:before {
    width: 2px;
    height: 70px;
  }
  &:after {
    width: 70px;
    height: 2px;
  }
  .cp-second-headline {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 40px;
    padding-left: 115px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .article--content {
    padding-right: 45%;

    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    column-count: 1;
    column-gap: 0;
    p {
      text-outline: #000;
      &:nth-child(1) {
        position: relative;
        &:before {
          position: absolute;
          top: 5px;
          left: -20px;

          display: block;

          width: 2px;
          height: 70px;

          content: '';

          background: $base-gradient;
        }
      }
    }
  }
}

.courses--list {
  margin-bottom: 100px;
  .courses--item {
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;

    background-color: #fff;
    box-shadow: $base-box-shadow;
  }
  .courses--item-right {
    position: relative;

    float: right;

    width: 60%;
    height: 410px;
    padding-left: 20px;
    &:hover {
      .courses--item-date,
      .courses--item-count {
        bottom: 80px;
      }
      .btn-blue-half {
        bottom: 0;
      }
    }
  }
  .courses--item-img {
    float: left;

    width: 40%;
    height: 410px;
    margin: 0;
  }
  .courses--item-title {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 10px;
    padding: 20px 20px 0 0;

    color: #37474f;
  }
  .courses--item-price {
    font-size: 14px;

    display: block;

    margin: 0 0 14px;
    padding: 0 20px 0 0;

    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #37474f;
  }
  .courses--item-content {
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    padding: 0 20px 0 0;

    color: #37474f;
    p {
      margin: 0 0 12px;
    }
  }
  .courses--item-date,
  .courses--item-count,
  .btn-blue-half {
    transition: all .5s;
  }
  .courses--item-date,
  .courses--item-count {
    font-size: 14px;

    position: absolute;
    z-index: 3;
    bottom: 0;

    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #37474f;
    background-color: #f5f5f5;
  }
  .courses--item-date {
    left: 0;
  }
  .courses--item-count {
    right: 0;
  }
  .btn-blue-half {
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}

.gallery-block {
  margin-bottom: 120px;
  ul {
    column-count: 4;
    column-gap: 1em;
    li {
      display: inline-block;

      width: 100%;
      margin: 0 0 1em;
    }
  }
}

.products--list {
  margin-bottom: 100px;
  .products--item {
    position: relative;

    overflow: hidden;

    max-width: calc(25%-20px);
    height: 380px;
    margin: 0 10px 20px;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $base-box-shadow;

    flex: 0 0 calc(25%-20px);
    &:hover {
      .product--content {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        padding: 0 30px;

        color: #fff;
        background: $base-gradient;

        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;
        p {
          display: block;
        }
      }
      .product-price {
        font-size: 14px;

        z-index: 4;
        top: 0;
        right: 0;
        bottom: auto;

        color: #37474f;
        background-image: url(../img/product-price-h.png);
      }
      .product--title {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        display: block;

        height: auto;
        margin-bottom: 20px;
        padding: 0;

        color: #fff;
        background-color: transparent;
        &:before {
          display: none;
        }
      }
    }
  }
  .product--content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    p {
      display: none;
    }
  }
  .product--title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;

    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 120px;
    margin: 0;
    padding: 0 30px;

    color: #37474f;
    background-color: #fff;

    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    &:before {
      position: absolute;
      z-index: 3;
      top: 20px;
      bottom: 20px;
      left: 20px;

      width: 2px;

      background: $base-gradient;

      @extend .dblock;
    }
  }
  .product-price {
    font-size: 14px;

    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 105px;

    width: 88px;
    height: 40px;
    padding-top: 15px;
    padding-right: 10px;

    text-align: right;

    color: #fff;
    background-image: url(../img/product-price.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.product-page {
  article {
    margin-bottom: 70px;
    padding: 70px 115px;

    background-color: #fff;
    box-shadow: $base-box-shadow;
    h2,
    h3,
    h4 {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 20px;

      color: #37474f;
    }
  }
  .product-second-headline {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 50px;

    color: #37474f;
  }
  .article--content {
    column-count: 1;
  }
}
.courses-page--content {
  margin-bottom: 120px;
  padding: 80px 115px;

  background-color: #fff;
  box-shadow: $base-box-shadow;
  .courses-page--title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 40px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .courses-page--descr {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 30px;

      color: #37474f;
    }
  }
}

.about-page {
  .article-heading {
    margin-bottom: 130px;
  }
  .about-page--content {
    font-size: 14px;
    line-height: 21px;

    margin-bottom: 90px;

    color: #37474f;
    p {
      margin-bottom: 20px;
    }
  }
  .about-page--team {
    margin-bottom: 80px;
  }
  .about-page--team-title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 40px;

    color: #37474f;
    span {
      position: relative;

      display: inline-block;

      width: 80px;
      height: 100%;
      margin-left: 16px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: $base-gradient;
      }
    }
  }
  .about-page--item {
    position: relative;

    height: 400px;
    margin-bottom: 20px;
    &:before,
    &:after {
      position: absolute;
      z-index: 5;
      right: 20px;
      bottom: 20px;

      display: block;

      content: '';

      background: $base-gradient;
    }
    &:before {
      width: 2px;
      height: 70px;
    }
    &:after {
      width: 70px;
      height: 2px;
    }
    .team--item-img {
      width: 100%;
    }
    .team--item-title {
      font-size: 24px;
      font-weight: bold;

      position: absolute;
      right: 15px;
      bottom: 0;
      left: 15px;

      padding: 30px;

      color: #37474f;
      background-color: #fff;
      span {
        font-size: 14px;
        font-weight: normal;

        display: block;

        padding-top: 20px;

        letter-spacing: 2.1px;
        text-transform: uppercase;

        color: #000;
      }
    }
  }
}
.massages--list {
  margin-bottom: 100px;
  .massage--item {
    position: relative;

    max-width: calc(25% - 20px);
    height: 420px;
    margin: 0 10px 20px;

    background-position: center top;
    background-size: cover;
    box-shadow: $base-box-shadow;

    flex: 0 0 calc(25% - 20px);
  }
  .massage--price,
  .massage--duration,
  .massage--title {
    display: flex;
    flex-direction: column;

    color: #37474f;
    background-color: #fff;

    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
  }
  .massage--title {
    font-size: 18px;
    font-weight: bold;

    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 60px;
    left: 0;

    height: 85px;
    margin: 0;
    padding: 25px 35px 0;


    &:before {
      position: absolute;
      bottom: 0;
      left: 35px;

      width: 40%;
      height: 1px;

      background-color: $gray-medium;

      @extend .dblock;
    }
  }
  .massage--price,
  .massage--duration {
    position: absolute;
    bottom: 0;

    height: 60px;
    padding: 0 35px;
  }
  .massage--price {
    font-size: 18px;

    left: 0;

    width: 40%;
    padding-right: 0;

    color: #37474f;
  }
  .massage--duration {
    font-size: 14px;

    right: 0;

    width: 60%;
    padding-left: 10px;

    color: #9e9e9e;
  }
}
.massages-content {
  position: relative;

  margin-bottom: 100px;
  &:before {
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 35%;

    background-color: $gray-medium;

    @extend .dblock;
  }
  .mc-cont--first,
  .mc-cont--second {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mc-cont--first {
    padding-top: 75px;
    padding-bottom: 115px;

    background-position: right center;
  }
  .mc-cont,
  .mcsc {
    p {
      font-size: 14px;
      line-height: 21px;

      color: #37474f;
    }
  }
  .mc-cont {
    .mc--title {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 20px;

      color: #37474f;
      span {
        position: relative;

        display: inline-block;

        width: 80px;
        height: 100%;
        margin-left: 16px;
        &:before {
          position: absolute;
          right: 0;
          bottom: 8px;
          left: 0;

          display: block;

          height: 2px;

          content: '';

          background: $base-gradient;
        }
      }
    }
  }
  .mc-cont--second {
    padding-top: 40px;
    padding-bottom: 80px;

    background-position: left center;
  }
  .mcsc {
    .mcsc--title {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 20px;

      color: #37474f;
      span {
        position: relative;

        display: inline-block;

        width: 80px;
        height: 100%;
        margin-left: 16px;
        &:before {
          position: absolute;
          right: 0;
          bottom: 8px;
          left: 0;

          display: block;

          height: 2px;

          content: '';

          background: $base-gradient;
        }
      }
    }
  }
}

.acf-map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  border: 0;
  img {
    max-width: inherit !important;
  }
}

footer {
  font-size: 14px;
  line-height: 21px;

  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 50px;

  color: #37474f;
  background-color: $gray-medium;
  .footer-copy {
    padding-top: 80px;
    padding-right: 5%;

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left top;
  }
  .footer-widget {
    font-size: 14px;
    line-height: 21px;
    a {
      text-decoration: none;

      color: #37474f;
      &:hover {
        color: #000;
      }
    }
  }
  .footer-widget--title {
    font-size: 14px;

    display: block;

    margin-bottom: 25px;

    letter-spacing: 2.1px;
    text-transform: uppercase;

    color: #37474f;
  }
}


@import 'media';

@import 'fonts/font-circe';
@import 'import/base64';
@import 'import/print';
